<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :username, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password_digest, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :password_digest, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :phone_number, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.text_field :phone_number, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :verified, style: "display: block", class: "label" %>
    <div class="control">
      <%= form.check_box :verified, class: "input" %>
    </div>
  </div>

  <div class="action control">
    <%= form.submit class: "button is-link is-light" %>
  </div>
<% end %>
