<p style="color: green"><%= notice %></p>

<h1 class="title has-text-info">Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>User name</th>
      <th>Phone number</th>
      <th>verified</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.username %></th>
        <td><%= user.phone_number %></td>
        <td><%= user.verified %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Destroy', user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New user", new_user_path, class: "button is-link is-light" %>
