<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user), class: "button is-link is-light" %> |
  <%= link_to "Back to users", users_path, class: "button is-link is-light" %>

  <%= button_to "Destroy this user", @user, method: :delete, class: "button is-link is-light" %>
</div>
